---
title: Sanabill - Healthcare Administration Solutions
lang: fr
layout: default
---
    <!-- Header -->
    {% include header.html %}

    <!-- Hero -->
    {% include hero.html %}

    <!-- Services -->
    {% include services.html %}

    <!-- ZERO Product -->
    {% include products.html %}

    <!-- Testimonials -->
    {% include testimonials.html %}

    <!-- About -->
    {% include about.html %}

    <!-- Contact -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}
