{% comment %} Hero section {% endcomment %}
{% assign hero = site.data.index[page.lang].hero %}
<section class="hero">
    <div class="hero__content">
        <h1 class="hero__title">{{ hero.title }}</h1>
        <p class="hero__subtitle">{{ hero.description }}</p>
        <a href="{{ '/fr/zero/' | relative_url }}" class="btn btn--secondary btn--rounded btn--margin-bottom-md">{{ hero.cta_button }}</a>
    </div>
</section>

{% comment %} Partners section {% endcomment %}
{% assign partners = site.data.index[page.lang].partners %}
<section class="hero-partner">
  <h2 class="partners__title">{{  partners.partner_title }}</h2>
  <div class="partners__content">
      <a href="https://www.ophtalmique.ch/">
        <img src="assets/images/partners/HoJGnoir.gif" alt="Hôpital ophtalmique Jules-Gonin" class="partners__content__logo">
      </a>
  </div>
</section>

{% comment %} Expertises section {% endcomment %}
{% assign expertises = site.data.index[page.lang].expertises %}
<section class="container container--xl">
  <div class="expertises-layout">
      <h2 class="display-4xl text-center m-0">{{ expertises.title }}</h2>
      <div class="expertises-grid">
          {% for bloc in expertises.blocs %}
            <a href="{{ bloc.link }}" class="hover-available" style="text-decoration: none; color: inherit;">
              <div class="card card--hover card--featured" style="height: 100%;">
                  <div class="card__title fw-semibold">{{ bloc.title }}</div>
                  <div class="card__text">{{ bloc.description }}</div>
                  <form action="{{ bloc.link }}" class="hide-hover-available expertise__card__form">
                    <input type="submit" class="btn btn--primary" value="{{bloc.link_value}}"
                    style="float: right; margin-top:1.5rem;"></input>
                  </form>
              </div>
            </a>
          {% endfor %}
      </div>
  </div>
</section>

{% comment %} Why-us section {% endcomment %}
{% assign why_us = site.data.index[page.lang].why_us %}
<section class="container">
  <h2 class="display-4xl text-center">{{ why_us.title }}</h2>
  <div class="why-us-grid">
      {% for reason in why_us.reasons %}
      <div class="card card--no-border">
        <div class="card__title">{{ reason.title }}</div>
        <div class="card__text">{{ reason.description }}</div>
        <div class="card__footnote-number">0{{ forloop.index }}</div>
      </div>
      {% endfor %}
  </div>
  <div class="text-center pb-2">
    <a href="{{ '/fr/contact/' | relative_url }}" class="btn btn--primary">{{ why_us.contact }} </a>
  </div>
</section>

