<section id="services" class="services bg-grey-to-white">
    <div class="container">
        <h2 class="section-title">{{ site.data.services.title[page.lang] }}</h2>
        <p class="section-subtitle">{{ site.data.services.subtitle[page.lang] }}</p>
        <div class="services-grid">
            {% for service in site.data.services.items[page.lang] %}
            <div class="service-card">
                <div class="service-icon">
                  <img src="{{ service.icon}}" style="max-width: 150px;"></img>
                  <h3 style="margin-left:1em">{{ service.title }}</h3>
                </div>
              {% comment %}
              <img src="/assets/images/software.png" style="max-width: 100px;"></img>
              {% endcomment %}
                <p>{{ service.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
