// Partners Section
.partners {

  &__title {
    text-transform: uppercase;
    font-size: $font-base;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-weight: 500;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    &__logo {
      height: 50px;
      filter: brightness(0);
      opacity: 0.7;
      transition: opacity var(--transition-base), transform var(--transition-base);

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}

/* Expertises Section */
.expertises-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
    align-items: start;
    max-width: $breakpoint-2xl;
    margin: $spacing-2xl auto;

    @include lg{
      grid-template-columns: 300px 1fr;
      gap: $spacing-2xl;
    }
}

.expertises-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;

    @include md {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}


/* Why us Section */
.why-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
    gap: $spacing-md;
    align-items: start;
    margin: 0 auto;
    padding-bottom: $spacing-lg
}
