// ============================
// Margin utilities
// ============================
.mt {
  &-1 {
    margin-top: $spacing-3xl;
  }
  &-5 {
    margin-top: $spacing-lg;
  }
}

.m {
  &-0{
    margin: 0;
  }
}

.p {
  &b-2 {
      padding-bottom: $spacing-lg;
    }
}

.pt {
  &-2 {
      padding-top: $spacing-lg;
    }
}

.text-center {
  text-align: center;
}

.container {
  &--xl {
    max-width: $breakpoint-xl;
  }
}


.hover-available {
  pointer-events: none;
  @media (hover: hover) {
      pointer-events: auto;
     }
}

.hide-hover-available {
    display: inherit;
    pointer-events: auto;

    @media (hover: hover) {
      display: none;
    }
}
