<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="/assets/images/favicon.png"></link>
        <link href="/assets/css/style.css" rel="stylesheet"></link>
        <script type="text/javascript" src="/assets/js/main.js" defer></script>
    </head>

    <body id="page-top">
      {% include header.html %}

      <main>
        {{ content }}
      </main>

      {% unless page.remove_footer %}
        <footer class="footer footer--padding-y-sm">
            {% include footer.html %}
          </div>
        </footer>
      {% endunless %}

    </body>
</html>
